@media (max-width: 479px) {

    .consultant_photo {
        width: 100%;
        height: auto;
    }
    .image_mob.w100 {
        width: 100%;
    }
    .image_mob.bg {
        padding-left: 20px;
        padding-right: 20px;
    }
 



}
