/* For old browsers */
@supports (not(--css: variables))
{
    .supports_error
    {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
{
    .supports_error
    {
        display: flex !important;
    }
}




@font-face {
    font-family: 'Futura';
    src: url('F../fonts/uturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Book.woff') format('woff'),
        url('../fonts/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-BookObl.eot');
    src: local('Futura PT Book Oblique'), local('FuturaPT-BookObl'),
        url('../fonts/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-BookObl.woff2') format('woff2'),
        url('../fonts/FuturaPT-BookObl.woff') format('woff'),
        url('../fonts/FuturaPT-BookObl.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-Demi.eot');
    src: local('Futura PT Demi'), local('FuturaPT-Demi'),
        url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Demi.woff2') format('woff2'),
        url('../fonts/FuturaPT-Demi.woff') format('woff'),
        url('../fonts/FuturaPT-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-Medium.eot');
    src: local('Futura PT Medium'), local('FuturaPT-Medium'),
        url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Medium.woff') format('woff'),
        url('../fonts/FuturaPT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --scroll_width: 17px;
    --text_color: #000;
    --font_size: 26px;
    --font_size_title: 32px;
    --font-family: 'Futura';
}


::selection
{
    color: #fff;
    background: #8FDBB7;
}

::-moz-selection
{
    color: #fff;
    background: #8FDBB7;
}


.clear
{
    clear: both;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}
/*
html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: #ccc;
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #de041d;
}

html.custom_scroll
{
    scrollbar-color: #de041d #ccc;
    scrollbar-width: thin;
}

*/
body
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
    font-family: var(--font-family);
    font-weight: 400;
}


button
{
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
    border: none;
    background: none;
}

.wrap
{
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    min-width: 360px;
    min-height: 100%;    
}


.main
{
    flex: 1 0 auto;
}


.cont
{
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;    
}

.lozad
{
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded
{
    opacity: 1;
}


.row
{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    opacity: .65;
    background: #000;
}



header {
    padding-top: 29px;
    margin-bottom: 26px;
    background: #fff;
}
header .cont {
    max-width: 1040px;
}
.header_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}    


.first-section {
    background: url(../images/first_section_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 center;
    padding-top: 66px;
}
.first-section .cont {
    max-width: 1040px;
}
.first-section_title {
    font-family: var(--font-family);
    font-size: 70px;
    line-height: 66px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    margin-bottom: 87px;
}
.first-section_img2 {
    display: block;
    width: 100%;
}
.first-section_img-mob {
    display: none;
}



.test {
    padding: 57px 0 61px;
}
.test .cont {
    max-width: 1040px;
}
.test_text {
    font-family: var(--font-family);
    font-size: var(--font_size);
    line-height: 1.2;
    font-weight: 600;
    color: #000000;   
    margin-bottom: 55px;
}
.test_text a {
    white-space: nowrap;
    font-family: var(--font-family);
    line-height: 1.2;
    font-weight: 600;
    color: #f30000;  
}
.test_link {
    display: flex;
    justify-content: center;
}
.test_link a {
    text-decoration: none;
    width: 347px;
    height: 81px;
    background-color: #ff4343;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-size: 36px;
    line-height: 61px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #ffffff;
    transition: all .3s;
}
.test_link a:hover {
    background-color:  #e51616;
}

.info-block {
    padding-top: 79px;
    background: url(../images/background_desktop.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
.consultant {
    display: flex;
    margin-bottom: 82px;
    padding-left: 100px;
    padding-right: 100px;
}
.consultant_photo {
    width: 150px;
    height: 188px;
    margin-right: 56px;
    flex-shrink: 0;
}
.consultant_photo img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.consultant_text {
    font-family: var(--font-family);
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000; 
    margin-top: -7px;
}
.consultant_name {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #000000; 
    margin-bottom: 26px;
    display: block;
}
.consultant_name br {
    display: none;
}
.consultant .link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 62px;
    background-color: #25946e;
    border-radius: 20px;  
    font-family: var(--font-family);
    font-size: 30px;
    line-height: 61px;
    font-weight: 700;
    color: #ffffff;
    transition: all .3s;
}
.consultant .link:hover {
    background-color:  #0a7953;
}


.text-block {
    padding: 58px 100px 90px;
    background: #fff;
    z-index: 1;
    counter-reset: heading;
    margin-bottom: 68px;
}
.text-block h3:before {
    content: counter(heading)" ";
	counter-increment: heading;
    width: 69px;
    height: 59px;
    background: url(../images/title_bg.png);
    background-size: cover;
    font-family: var(--font-family);
    font-size: 39px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 19px;
    flex-shrink: 0;
}
.text-block h2 {
    font-family: var(--font-family);
    font-size: 46px;
    line-height: 1.2;
    font-weight: 700;
    color: #007e56; 
    margin-bottom: 45px;  
}
.text-block p {
    font-family: var(--font-family);
    font-size: var(--font_size);
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    margin-bottom: 35px;   
}
.text-block p a {
    text-decoration: none;
    font-family: var(--font-family);
    font-size: var(--font_size);
    line-height: 1.2;
    font-weight: 400;
    color: #000000;    
}
.text-block img.fl {
    float: left;
    margin-right: 29px;
}
.text-block img.fr {
    float: right;
    margin-left: 6px;
}
.text-block .image_mob {
    display: none;
}
.text-block h3 {
    display: flex;
    align-items: start;
    font-family: var(--font-family);
    font-size: var(--font_size_title);
    line-height: 1.2;
    font-weight: 700;
    color: #000000;
    padding-bottom: 35px;
    padding-top: 56px;
}
.text-block ol {
    list-style: none;
    padding-left: 32px;
    border-left: 9px solid #ff4343;
    margin-bottom: 45px;
}
.text-block ol li {
    font-family: var(--font-family);
    font-size: var(--font_size);
    line-height: 1.2;
    font-weight: 400;
    color: #000000;   
}
.text-block ol li b {
    font-weight: 700;
}

.text-block .test {
    padding: 19px 0 0px;
}
.text-block .test_text {
    font-family: var(--font-family);
    font-size: 70px;
    line-height: 66px;
    font-weight: 700;
    color: #ff4343;  
     margin-bottom: 40px;
     text-align: center;
}


.footnote {
    font-family: "Roboto";
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
    color: #25946e;
    margin-bottom: 40px;
    margin-top: 110px;
    text-transform: uppercase;
    text-align: center;
}

footer {
    padding-bottom: 72px;
}
footer .cont {
    max-width: 1040px;
}
.footer_text {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;   
}






